:root {
  --theme-color: #405c3c;
  --theme-shadow: #737b93;
  --accent-color: #b67730;
  --easy-color: #bfa196;
}

body {
  font-family: "Inconsolata", monospace;
  color: #18160f;
  font-size: 18px;
}

.home-page {
  max-width: 1200px;
}

.about-page,
.contact-page,
.work-page {
  max-width: 960px;
  margin-bottom: 30px;
}

.home-page h1,
.home-page h2 {
  font-family: "Dosis", sans-serif;
  font-size: 98px;
  line-height: 94px;
  font-weight: 400;
  text-align: right;
}

.standard-h1 {
  font-family: "Dosis", sans-serif;
  font-size: 76px;
}

.standard-subheading {
  font-family: "Dosis", sans-serif;
  font-size: 64px;
  font-weight: 300;
}

h3 {
  font-size: 32px;
  text-align: center;
}

hr {
  width: 80%;
  margin: 60px;
}

.navigation-edit {
  background: linear-gradient(to right, var(--theme-shadow), #fff);
}

.painter {
  display: block;
  margin: 0 auto;
}

.block {
  background: var(--theme-color);
  z-index: -1;
}

.who-i-am {
  flex-direction: column;
}

.social-media-links {
  font-size: 32px;
}

.social-media-links i {
  color: #18160f;
}

.social-media-links i:hover {
  color: var(--theme-shadow);
}

.homepage-subheading {
  padding: 40px 20px 20px;
}

.headshot-container {
  display: block;
  margin: 0 auto;
  max-width: 360px;
}

.work-bubbles {
  justify-content: space-evenly;
}

.work-minatures {
  border: 5px solid var(--easy-color);
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.speech {
  background: var(--easy-color);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.elf-container {
  max-width: 300px;
}

.footer-banner {
  background: var(--theme-color);
}

.footer-content {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}

.footer-banner a {
  color: #18160f;
}

.footer-banner a:hover {
  color: var(--theme-shadow);
}

.recent a {
  color: var(--accent-color);
}

.contact-landing .social-media-links {
  flex-direction: column;
  border-radius: 10px;
}

.contact-landing a {
  text-align: center;
}

.contact-button {
  background: var(--easy-color);
  display: block;
  margin: 0 auto;
}

.email {
  background: var(--easy-color);
  margin: 0 auto;
  border-radius: 40px;
  padding: 12px 16px;
}

.email a {
  color: #18160f;
  font-size: 20px;
}

.contact-button:hover {
  background: #fff;
  border: 1px solid var(--easy-color);
}

.email:hover {
  border: 1px solid var(--easy-color);
  background: #fff;
}

.email a:hover {
  text-decoration: none;
}

@media (min-width: 576px) {
  .painter-container {
    height: auto;
    width: 290px;
    margin-left: 10px;
  }

  .block {
    height: 245px;
    width: 460px;
    position: relative;
    left: 40px;
    top: 30px;
  }

  .rehearsal-img {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .name {
    background: var(--theme-color);
    width: 100%;
    padding: 20px 10px 10px;
  }

  .block {
    display: none;
  }

  .painter {
    width: 80%;
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .painter-container {
    height: auto;
    width: 290px;
    margin-left: 10px;
  }

  .block {
    height: 245px;
    width: 460px;
    position: relative;
    left: 130px;
    top: 10px;
  }

  .triangle {
    position: relative;
    width: 0;
    border-bottom: solid 250px var(--accent-color);
    border-right: solid 150px transparent;
    border-left: solid 150px transparent;
    z-index: -1;
    bottom: 130px;
    left: 657px;
    margin-bottom: -216px;
  }

  .animated-col {
    z-index: -2;
  }
}

@media (max-width: 768px) {
  .home-page h1,
  .home-page h2 {
    font-size: 70px;
    line-height: 64px;
  }
}

@media (max-width: 1200px) {
  .triangle {
    display: none;
  }

  .homepage-subheading {
    background: var(--accent-color);
    width: 100%;
  }
}
